<div class="text-center bg-image mb-2 hero-section">
  <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="d-flex justify-content-center align-items-end h-100">
      <div class="text-white">
        <h1 class="mb-3">Bajra Beings</h1>
        <h4 class="mb-3">Lunch & Learn Management System</h4>
      </div>
    </div>
  </div>
</div>
